<!DOCTYPE html>
<html>
<head>
  <title>GovHack</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<header>
</header>
<body>
  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

  <!-- Load our React component. -->
  <script src="/static/js/main.js"></script>
  <div class="appContainer">
    <div class="appContent">
      <h2>Hello Simon</h2>
    </div>
  </div>



</body>
</html>