<!DOCTYPE html>
<html>
<head>
  <title>GovHack</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<header>
</header>
<body>
  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

  <!-- Load our React component. -->
  <script src="/static/js/main.js"></script>
  <div class="appContainer">
    <div class="appContent">
      <h2>Hello Simon</h2>
      <h3 class="m20">Our dam is at</h3>
      <div>
        <h1 class="headerLarge aqua">50%</h1>
      </div>
        <p class="info"><b>300,000 ML</b></p>
        <div>
          <h4 class="aqua left m20">Rainfall forecast</h4>
          <div class="clear">
            <p class="left per30 borderb">Daily</p><p class="left per30 glass">Monthly</p><p class="left per30 glass">Yearly</p>
            <p class="clear per100 m20"><b>10mm</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>



</body>
</html>