html{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
}

.appContainer{
    width: 100%;
    background-color: #fafafa;
    text-align: center;
}

.appContent{
    width: 500px;
    margin: auto;
}

.m20{
    padding: 20px;
}

input{
    height: 30px;
    border-radius: 4px;
}