* { margin:0; padding:0; box-sizing:border-box; font-family: 'Roboto', sans-serif;}

.appContainer{
    width: 100%;
    background-color: #fafafa;
    text-align: center;
}

.appContent{
    width: 500px;
    margin: auto;
    height: 100%;
}

.m20{
    margin: 20px;
}

input{
    height: 36px;
    border-radius: 4px;
}